<script>
    document.cartId = '{{cartId}}'
</script>
<script src="/static/js/products.js"></script>
<h4>Bienvenido {{user.firstName}} {{user.lastName}}!</h4>
<p>Email: {{user.email}} </p>
<p>Rol: {{user.role}} </p>
<h3>Productos</h3>
<div id="products">
</div>
<button type='button' id="prevPageButton">Página Anterior</button> 
<button type='button' id="nextPageButton">Página Siguiente</button> 
<hr>
<a href="/carts/{{cartId}}">Ver carrito</a><br>
<button type='button' id="logoutButton">Cerrar Sesión</button>